@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
    }
    
    
    body {
    padding:0;
    font-family: "Roboto" sans-serif;
    margin: 0;
    position: relative;
    }
    
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        font-family: "Domine", serif;
    }
    
    .text-center
    {
    text-align: center;
    }
    
    
    .outer-navigation 
    {
        background-image: url(https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.15752-9/423422422_356136503916108_3217797234162245120_n.png?_nc_cat=100&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeF3KXQg7bczFhyVdHgYnrcXJlXWlQYFH2QmVdaVBgUfZD4A3qtKqNgK3YSy8Oe9UTSwqYU8Iu63D2CRsLbtjZg7&_nc_ohc=BeGgGvaGMo0AX9ZAjPW&_nc_ht=scontent.fmnl3-2.fna&oh=03_AdTsc4u2xWOdhEhKax3-_OycpT41BLn7WF0s0IqAeQ7zhQ&oe=65F397F7);
        height :100vh;
        background-size: cover; 
        background-position:center;
        padding: 0%;
        margin: 0;
        padding-top: 20px;
    }
    .nav-content{
        margin: 0 auto;
        max-width: 1500px;
        position: relative;
        height: 100vh;
        }
        
        
        .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .navigation a:hover{
        color: lightblue
        }
        
        .right-nagivation{
        flex: 0.5;
        text-align: right;
        padding-right: 30px;
        }
        
        .right-navigation .login-Link {
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        }
    
        .left-navigation {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            flex:0.5;
            padding: 30px;
            background-color: transparent
        }

        .nav-content{
            margin: 0 auto;
            max-width: 1500px;
            margin: auto;
             position: relative;
            height: 100vh;
            color:black;
          
            
            }
            
            
            .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            }

            .navigation a hover{
            color: lightblue
            }
            
            .right- nagivation{
              Flex: 0.5;
            text-align: right;
            padding-right: 30;
            }
            
            .right-navigation .login-link {
            display: inline-block;
            padding: 10px 30px;
            text-decoration: none;
            color: black;
            text-transform: uppercase; font-weight: bold;
            text-align: center;
            }

            .left-navigation {
              list-style:none;
              display: flex;
              justify-content: space-evenly;
              flex:0.5;
            }

            .left-navigation a {
              
              text-decoration:none;
              color:black;
              text-transform: uppercase;
              font-weight: bold
            }

            .main-title-container {
             font-size: 2.2rem;
             color: black;
             max-width: 500px;
             float: right;
             position: absolute;
             top: 25%;
             right: 40px;
             margin-left:20px ;

            }
            
            

           

            .sala-row{
              display: flex;
              justify-content: space-between;
              max-width: 1500px;
              margin: 0 auto;
              flex-wrap: wrap;

            }

            .sala-row .img-container {
              width: 50%;
            }

            .sala-row .img-container img {
              width: 100%;
              height: 290px;
            object-fit:cover ;
            }

            .sala-row .text-container {
              width: 50%;
              text-align: center;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
            
            }

            .sala-row .text-container h2 {
              font-size: 30px;
            }

            .our-mission {
              background-image: url(https://as1.ftcdn.net/v2/jpg/06/41/39/80/1000_F_641398014_Be5xp83uq2HIrgXWWRKj0dQXtXaMj5cT.jpg);
              background-attachment: fixed;
              background-position: center 10px;
              min-height: 500px;
              color: black;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0 40px;

            }

            .our-mission h2{
              font-size: 2rem;
            }

            .our-mission p {
              font-size: 1.5rem;
              text-align: center;
            }

            .our-mission button {
              border: 1px solid white;
              padding: 10px 30px;
              background-color: transparent;
              color:white;
            }

          .our-mission button:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }



            .contact-form{
              padding: 30px;
              text-align: center;
              width: 100%;
            }

            .contact-form form{
              max-width: 600px;
              margin:  0 auto;
            }
            .contact-form input {
              width: 100%;
              height: 30px;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            .contact-form label {
              display: block;
              margin-bottom: 5px;
              margin-top: 5px;
            }

            .contact-form textarea {
              width: 100%;
            }

            .contact-form button {
              padding:10px 30px;
              cursor: pointer;
            }

             footer{
              background-color: black;
              padding-top: 10px;
              padding-bottom: 10px;
              color: white;
              text-align: center;
              width: 100%;
            }



            .cards-container {
              max-width: 1000px;
              margin: 0 auto;
              display: flex;
              justify-content: space-evenly;
              flex-wrap: wrap;
              
            }

            .card {
              width: 200px;
              text-align: center;
              padding-bottom: 10px;
              margin: 20px;
              box-shadow: 0 4px 8px 0 black;
              transition: 0.3s;

            }

            .card:hover {
              box-shadow: 0 8px 16px 0 black;
            }

            .card img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              align-items: center;
            }

            .about-row{
              display: flex;
              justify-content: space-between;
              max-width: 1500px;
              margin: 0 auto;
              flex-wrap: wrap;

            }

            .about-row .img-container {
              width: 50%;
            }

            .about-row .img-container img {
              width: 100%;
              height: 290px;
            object-fit:cover ;
            }

            .about-row .text-container {
              width: 50%;
              text-align: center;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
            
            }

            .about-row .text-container h2 {
              font-size: 30px;
            }

           

           

